<launch>
    <node name="gui" pkg="yeetbot_gui" type="yeet.py"/>
    <node name="master" pkg="yeetbot_master_controller" type="master.py"
          output="screen"/>
    <node name="door_apriltag_pose_estimator" pkg="yeetbot_localisation"
          type="tag_pose_estimation.py">
        <remap from="tag_detections" to="human6_tag_detector_detections"/>
        <remap from="yeetbot_pose_estimate" 
               to="door_yeetbot_pose_estimate"/>
    </node>
    <node name="window_apriltag_pose_estimator" pkg="yeetbot_localisation"
          type="tag_pose_estimation.py">
        <remap from="tag_detections" to="human2_tag_detector_detections"/>
        <remap from="yeetbot_pose_estimate" 
               to="window_yeetbot_pose_estimate"/>
    </node>
    <node name="human_stitcher" pkg="yeetbot_humandetector" 
          type="human_stitcher.py" output="screen"/>

    <include file="$(find yeetbot_localisation)/launch/camera_locations.launch"/>
    <include file="$(find yeetbot_localisation)/launch/localisation.launch"/>
</launch>
