<launch>
    <arg name="kinect_name" default="door_kinect"/>
    <group if="$(eval arg('kinect_name') == 'door_kinect')">
        <include file="$(find freenect_launch)/launch/freenect.launch">
    	    <arg name="camera" value="door_kinect"/>
        </include>
    	<node name="$(arg kinect_name)_humantracker" pkg="yeetbot_humantracker" type="detectpeople.py" output="screen" args="door"/>
        <node pkg="tf" type="static_transform_publisher" name="cam_d" args="0 0 0 0 0 0 /door_kinect_rgb_optical_frame /door_kinect_depth_optical_frame 100" />
    </group>
    <group if="$(eval arg('kinect_name') == 'window_kinect')">
        <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
            <arg name="base_name" value="window_kinect"/>
            <arg name="base_name_tf" value="window_kinect"/>
            <arg name="publish_tf" value="true"/>
            <arg name="depth_method" value="opengl"/>
            <arg name="fps_limit" value="7"/>
        </include>
    	<node name="$(arg kinect_name)_humantracker" pkg="yeetbot_humantracker" type="detectpeople.py" output="screen" args="window"/>

        <node pkg="tf" type="static_transform_publisher" name="cam_d2" args="0 0 0 0 0 0 /window_kinect_rgb_optical_frame /window_kinect_ir_optical_frame 100" />
    </group>
    <!-- <include file="$(find yeetbot_humantracker)/launch/cam_tf.launch"/> -->



</launch>
